@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Foldit:wght@400;500;600;700;800;900&family=Inter:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap");

/* Reset ---------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  cursor: pointer;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

:root {
  --font-bruno-act: "Bruno Ace", cursive;
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;
  --profile-linear-gradient: linear-gradient(
    45deg,
    rgb(208, 107, 136),
    #35a6c6,
    #5e96da,
    #c6966f
  );
  --bg-linear-gradient: linear-gradient(
    45deg,
    rgb(236, 143, 170),
    rgb(199, 125, 146),
    #907dc0,
    #7492d3
  );
  /* --logo-bg-gradient: linear-gradient(45deg, #534e4e, #634a4a, #072a42); */
}

.about-page,
.resume-page,
.projects-page,
.contact-page,
.resume-page,
.web-challenge-page,
.web-app-page,
.fullstack-page,
.css-effect-page,
.design-page {
  display: none;
}

.active-page {
  display: grid;
}

.deactive-page {
  display: none;
}

.main-container {
  width: 100%;
  height: auto;
  padding: 60px;
}

.profile-linear-animation {
  background-image: var(--profile-linear-gradient);
  background-size: 400%;
  animation: profile-linear-animation 15s infinite;
}

.bg-linear-gradient {
  background-image: var(--bg-linear-gradient);
  background-size: 400%;
  animation: bg-linear-animation 15s infinite;
}

/* NAVBAR -------------------------------- */

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 1px solid transparent;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header.sticky {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 1px 1px 2px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.18);

  border-radius: 30px;
  padding: 12px 10%;
}

.logo {
  font-family: "Bruno Ace", cursive;
  font-size: 3rem;
  font-weight: 800;
  background: black;
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  font-size: 1.2rem;
  font-weight: var(--font-weight-500);
}

nav ul li a:hover {
  opacity: 0.7;
  transition: all 100ms ease;
}

/* -Nav Menu- */

#menu-icon {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 2rem;
  display: none;
}

/* -Contact button- */

.contact-btn {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;

  color: #fff;

  background: rgba(151, 151, 151, 0.15);
  box-shadow: 1px 1px 2px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid rgba(120, 120, 120, 0.18);

  z-index: 10;
  transition: all 200ms ease-in-out;
}

.contact-btn:hover {
  box-shadow: 0 8px 32px 0 rgba(67, 67, 67, 0.37);
}

.contact-btn:active {
  animation: btn-active 2s ease-in-out;
}

/* CARD COMPONENT --------------------------------------- */

.card {
  outline: none;
  padding: 30px;
  border-radius: 30px;
  position: relative;
  cursor: pointer;

  background: rgba(151, 151, 151, 0.15);
  box-shadow: 1px 1px 2px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid rgba(104, 104, 104, 0.18);

  z-index: 10;
  transition: 200ms ease-in-out;
  position: relative;

  animation: show-up 1s ease-in-out;
  flex: 1;
}

.card .bx-chevron-right,
.card .bx-chevrons-right {
  font-size: 2rem;
  position: absolute;
  bottom: 18px;
  right: 22px;
  color: rgb(231, 231, 231);
}

.card:hover .bx-chevrons-right {
  animation: arrow-move 900ms infinite ease-in-out;
}

.card h1 {
  font-size: 16px;
  text-transform: uppercase;
}

.card p {
  font-size: 14px;
  opacity: 0.8;
}

.home-container .card:not(:first-child) p,
.p {
  text-transform: uppercase;
}

.card:hover {
  box-shadow: 0 8px 32px 0 rgba(67, 67, 67, 0.37);
  transition: all 200ms ease;
}

img {
  max-width: 100px;
}

img:not(.project-img):hover {
  animation: shake 500ms ease-in;
}

/* HOME PAGE ----------------------------------------------- */

.home-container {
  margin-top: 60px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  height: 100%;
}

/* -top column- */

.top-column {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
}

.profile-card {
  grid-column: 1/3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.profile-card h1 {
  font-size: 1.6rem;
}

.profile-img {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 400px;
  background-image: var(--profile-linear-gradient);
  background-size: 400%;
  animation: bg-linear-animation 20s infinite;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.profile-img img {
  max-width: 250px;
  transform: translateY(10px);
  flex: 1;
}

.profile-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.cap-pro-box {
  grid-column: 3/5;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.capability-card,
.work-card {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
}

/* -bottom column- */

.bottom-column {
  display: flex;
  gap: 20px;
  align-self: flex-start;
  flex: 1;
}

/* ABOUT PAGE -------------------------------------------- */

.about-page {
  width: 100%;
  height: 100%;
  margin: 60px 0;
}

.about-container {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-gap: 20px;
}

/* -Top column- */

.about-container .top-column {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, auto));
}

.profile img {
  transform: translateY(7px);
  max-width: 250px;
}

/* -Summary Container- */

.summary-container {
  display: grid;
}

.summary-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6vw;
  letter-spacing: 4px;
  text-transform: uppercase;
  animation: show-up 1s ease-in-out;
}

.summary-title img {
  max-width: 80px;
}

.summary-card {
  height: auto;
}

.summary-card h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.middle-column {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.edu-book-box {
  flex: 1;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.experience-card h1,
.education-card h1 {
  font-size: 22px;
}

.experience-card i {
  color: yellow;
}

.about-container .bottom-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.about-container .contact-card {
  text-transform: uppercase;
}

/* WORK PAGE ----------------------------------- */

.projects-page {
  margin: 60px 0;
}

.projects-container .card > p {
  text-transform: uppercase;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 20px;
}

.title {
  grid-column: 1/4;
  font-size: 5vw;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  animation: show-up 1s ease-in-out;
}

/* CONTACT PAGE --------------------------------------- */
.contact-page {
  margin: 60px 0;
}

.contact-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 20px;
  flex-wrap: wrap;
}

/* - Left column - */

.contact-container .left-column {
  display: flex;
  flex-direction: column;
  align-self: start;
  justify-self: start;
}

.contact-info > * {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-info i {
  font-size: 60px;
}

.linkedIn a:hover {
  letter-spacing: 1px;
  transition: all 250ms ease-in;
  color: rgb(0, 3, 163);
}

/* - Form Info - */

form {
  display: flex;
  flex-direction: column;
}

.contact-container input {
  background: transparent;
  color: #fff;
}

.contact-container textarea {
  background: transparent;
}

.email,
.call-me,
.location {
  cursor: default;
}

.send-form {
  max-width: 700px;
  height: 600px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sent-input {
  height: 50px;
  width: 100%;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  gap: 10px;
}

.contact-container i {
  font-size: 1.6rem;
}

.contact-container input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background: transparent;
  font-size: 1.6rem;
}

.contact-container input::placeholder {
  font-family: "Inter", sans-serif;
  color: #fff;
  font-size: 1.2rem;
}

.email-content {
  width: 100%;
  height: 100%;
  padding: 20px 20px;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.18);
}

.contact-container textarea {
  width: 100%;
  height: 200px;
  font-size: 1.4rem;
  outline: none;
  border: none;
  resize: none;
}

.contact-container textarea::placeholder {
  font-family: inherit;
  color: #fff;
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
}

.send-email {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  width: 150px;
  color: #fff;

  background: rgba(255, 255, 255, 0.15);
  box-shadow: 1px 1px 2px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 10;
  transition: all 200ms ease-in-out;
}

.send-email:hover {
  opacity: 0.7;
  box-shadow: 0 8px 32px 0 rgba(67, 67, 67, 0.37);
  transform: translateY(-3px);
}

.send-email:active {
  animation: btn-active 200ms ease-in-out;
}

/* RESUME PAGE ----------------------------------------- */
.resume-page {
  margin: 60px 0;
}

.resume-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.resume-container .profile {
  position: sticky;
  left: 0;
  top: 100px;
  align-self: flex-start;
  max-width: 310px;
}

.resume-container .profile h1 {
  margin-top: 15px;
  font-size: 2rem;
}

.resume-container .profile h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.resume-content {
  display: grid;
  gap: 80px;
}

.resume-content h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.resume-content h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
}

.resume-content h3 {
  text-transform: uppercase;
  font-weight: 500;
  color: rgb(74, 74, 74);
}

.resume-content p {
  font-size: 1rem;
}

.resume-content .skill-sets {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.resume-content i {
  font-size: 1rem;
  color: gold;
  margin-right: 10px;
}

.resume-content .projects {
  margin-bottom: 20px;
}

/* WEB CHALLENGE PAGE -------------------------------- */

.web-challenge-container {
  width: 100%;
  height: 100%;
}

.on-projects .title {
  margin: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.on-projects .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  position: relative;
  align-items: center;
  justify-content: center;
}

.on-projects h1 {
  font-size: 7.5vw;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
}

.project-card {
  outline: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-card img {
  border-radius: 40px;
  max-width: 100%;
  flex: 1;
}

.project-card h2 {
  color: #fff;
  position: absolute;
  opacity: 0.4;
  font-size: 3.7vw;
  text-transform: uppercase;
}

.deactive-display {
  display: none;
}

.active-display {
  display: flex;
}

.project-link {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 40px;

  justify-content: center;
  align-items: center;
  display: none;
}

.project-link i {
  font-size: 9vw;
  padding: 0 20px;
  opacity: 0.3;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  color: #fff;
}

.project-link i:hover {
  opacity: 0.9;
}

.design-container h2,
.design-container i {
  color: red;
}

/* Footer -------------------------------------- */

footer {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

footer nav ul li {
  font-size: 0.8rem;
}

.copyright {
  font-size: 0.8rem;
}

/* Animation ------------------------------------ */

@keyframes profile-linear-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@keyframes bg-linear-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@keyframes logo-linear-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@keyframes btn-active {
  0% {
    transform: translateY(-5px);
  }
  80% {
    transform: translateY(-1px);
  }
}

@keyframes arrow-move {
  0% {
    right: 20px;
  }
  100% {
    right: 16px;
  }
  0% {
    right: 22px;
  }
}

@keyframes show-up {
  0% {
    scale: 0.8;
  }
  80% {
    scale: 1;
  }
}

@keyframes shake {
  0% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(5deg);
  }
}

/* Responsive ----------------------------------  */
@media only screen and (max-width: 1189px) {
  .summary-container .summary-title img {
    max-width: 80px;
  }
}

@media only screen and (max-width: 1129px) {
  .summary-container .summary-title img {
    max-width: 60px;
  }
}

@media only screen and (max-width: 1058px) {
  .summary-container .summary-title img {
    display: none;
  }
}

@media only screen and (max-width: 1089px) {
  /* --- Navbar --- */
  header {
    display: flex;
    justify-content: center;
  }
  .contact-btn {
    display: none;
  }
  header .logo {
    display: none;
  }

  /* --- Home Page --- */
  .profile-card {
    display: flex;
    flex-direction: column;
  }
  .profile-content {
    text-align: center;
  }

  .profile-img {
    width: 100%;
  }

  .cap-pro-box {
    display: flex;
    flex-direction: column;
  }
  .cap-pro-box > * {
    justify-content: space-around;
  }

  .cap-pro-box .capability-card,
  .cap-pro-box .work-card {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .home-container .bottom-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .bottom-column > * {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
  }

  /* --- About page --- */

  .about-container .bottom-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  /* --- Work Page --- */

  .on-projects .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 867px) {
  /* --- About page --- */

  .about-container .top-column {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, auto));
  }

  .about-container .top-column .profile-img {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 848px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .projects-container .title {
    grid-column: 1/3;
    align-items: center;
  }

  .contact-container {
    flex-direction: column;
  }

  .contact-container .left-column {
    align-self: stretch;
  }
}

@media only screen and (max-width: 786px) {
  /* -home container responsive- */
  .home-container .top-column {
    display: flex;
    /* grid-template-columns: 1fr; */
    flex-direction: column;
  }

  .home-container .bottom-column {
    display: flex;
    flex-direction: column;
  }
  .home-container .bottom-column card {
    justify-content: space-evenly;
  }
  /* -resume container responsive- */
  .resume-container .profile {
    position: initial;
    align-self: initial;
    max-width: 100%;
    flex: 1;
    text-align: center;
  }
  .resume-container .profile img {
    margin: 0 auto;
  }
  .resume-container {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  #menu-icon {
    /* position: fixed; */
    display: inline-block;
    transition: all 0.4s ease;
    cursor: pointer;
  }

  #menu-icon.bx-x {
    transform: rotate(-135deg);
  }

  .navlist.open {
    display: flex;
  }

  header {
    display: flex;
    flex-direction: column-reverse;
  }

  header.sticky {
    background: rgba(255, 255, 255, 0);
    box-shadow: 1px 1px 2px 0 rgba(31, 38, 135, 0);
    backdrop-filter: initial;
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0);
  }

  .navlist {
    display: none;
    flex-direction: column;
    gap: 20px;

    padding: 20px 0;
    width: 100vw;

    background: rgba(255, 255, 255, 0.15);
    box-shadow: 1px 1px 2px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .nav {
    justify-content: center;
  }

  .contact-btn {
    display: none;
  }
  .bx-plus-circle,
  .bx-minus-circle {
    display: block !important;
  }
}

@media only screen and (max-width: 665px) {
  .project-card h2 {
    font-size: 11vw;
  }

  .on-projects .content {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .about-container .middle-column {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .about-container .bottom-column {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 624px) {
  .projects-container {
    grid-template-columns: repeat(1, minmax(0px, 1fr));
  }
  .projects-container .title {
    grid-column: 1/2;
  }
}

@media only screen and (max-width: 563px) {
  .profile-img img {
    width: 100px;
  }

  footer nav {
    display: none;
  }
}

@media only screen and (max-width: 525px) {
  .profile-card .profile-content h1 {
    font-size: 1.6rem;
  }
}
