/* Font ----------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Foldit:wght@400;500;600;700;800;900&family=Inter:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap");

/* Reset ---------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  cursor: pointer;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  opacity: 0.7;
  color: blanchedalmond;
}

a:focus {
  opacity: 0.7;
  color: blanchedalmond;
}

/* fix over scroll cause bouncing white space  */
html {
  overscroll-behavior-y: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

:root {
  --font-bruno-act: "Bruno Ace", cursive;
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;

  --profile-linear-gradient: linear-gradient(
    45deg,
    rgb(208, 107, 136),
    #35a6c6,
    #5e96da,
    #c6966f
  );
  --bg-linear-gradient: linear-gradient(
    45deg,
    rgb(236, 143, 170),
    rgb(199, 125, 146),
    #907dc0,
    #7492d3
  );
}

/* NAVBAR -------------------------------- */

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 1px solid transparent;

  width: 100%;

  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header.sticky {
  background: rgba(151, 151, 151, 0.15);
  box-shadow: 1px 1px 2px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid rgba(104, 104, 104, 0.18);

  padding: initial;
}

.logo {
  font-family: "Bruno Ace", cursive;
  font-size: 3rem;
  font-weight: 800;
  color: rgb(255, 255, 255);
  cursor: unset;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  font-size: 1.2rem;
  font-weight: var(--font-weight-500);
}

/* -Nav Menu- */

#menu-icon {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 2rem;
  display: none;
}

/* main container ------------------------------------------ */

.main-container {
  width: 100%;
  padding: 60px;
  height: 100%;
  padding-bottom: 0;
}

.bg-linear-gradient {
  background-image: var(--bg-linear-gradient);
  background-size: 400%;
  animation: bg-linear-animation 15s infinite;
}

/* CARD COMPONENT --------------------------------------- */

.card {
  outline: none;
  padding: 30px;
  border-radius: 30px;
  position: relative;
  cursor: pointer;

  background: rgba(87, 87, 87, 0.15);
  box-shadow: 1px 1px 2px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid rgba(104, 104, 104, 0.18);

  z-index: 10;
  transition: 200ms ease-in-out;
  position: relative;

  animation: show-up 1s ease-in-out;
  flex: 1;
}

.card .bx-chevron-right,
.card .bx-chevrons-right {
  font-size: 2rem;
  position: absolute;
  bottom: 18px;
  right: 22px;
  color: rgb(231, 231, 231);
}

.card:hover .bx-chevrons-right {
  animation: arrow-move 900ms infinite ease-in-out;
}

.card h1 {
  font-size: 16px;
  text-transform: uppercase;
}

.card p {
  font-size: 14px;
  opacity: 0.8;
}

/* Project Page ---------------------------------------------- */

.projects-page {
  margin: 120px 0;
}

.projects-container .card > p {
  text-transform: uppercase;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.projects-container .title {
  grid-column: 1/4;
  font-size: 5vw;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-self: flex-start; */
  animation: show-up 1s ease-in-out;
}

/* PROJECT PAGE -------------------------------- */

/* .on-projects {
  padding-bottom: 60px;
} */

.on-projects .title {
  /* margin: 100px 0; */
  margin-top: 120px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.on-projects .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
  gap: 20px;
  position: relative;
}

.on-projects h1 {
  font-size: 7.5vw;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
}

/* Individual Project */

.project-card {
  outline: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.project-card img {
  border-radius: 40px;
  max-width: 100%;
  height: auto;

  filter: brightness(60%);

  /* background-color: rgba(17, 25, 40, 0.909); */
}

.project-card h2 {
  color: #ffffff;
  position: absolute;
  font-size: 3.5vw;
  text-transform: uppercase;

  /* background-color: rgba(17, 25, 40, 0.233);
  width: 100%;
  height: 100%; */
}

.project-link {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
}

.project-link i {
  font-size: 9vw;
  padding: 0 20px;
  opacity: 0.6;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  color: #fff;
}

.project-link i:hover {
  opacity: 1;
}

.deactive-display {
  display: none;
}

.active-display {
  display: flex;
}

/* .design-container h2,
.design-container i {
  color: black;
} */

/* Footer -------------------------------------- */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  margin-top: 60px;

  padding: 20px;
}

footer nav ul li {
  font-size: 0.8rem;
}

.copyright {
  font-size: 0.8rem;
}

/* Animation ------------------------------------ */
@keyframes bg-linear-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@keyframes arrow-move {
  0% {
    right: 20px;
  }
  100% {
    right: 16px;
  }
  0% {
    right: 22px;
  }
}

@keyframes show-up {
  0% {
    scale: 0.8;
  }
  80% {
    scale: 1;
  }
}

/* Responsive ------------------------------------------- */
@media only screen and (max-width: 1178px) {
  #menu-icon {
    display: inline-block;
    transition: all 0.4s ease;
    cursor: pointer;
  }

  #menu-icon.bx-x {
    transform: rotate(-135deg);
  }

  .navlist.open {
    display: flex;
  }

  header {
    display: flex;
    flex-direction: column;

    background: rgba(151, 151, 151, 0.15);
    box-shadow: 1px 1px 2px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border: 1px solid rgba(104, 104, 104, 0.18);
    padding: initial;
  }

  .navlist {
    display: none;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0 40px;
  }

  .project-card h2 {
    font-size: 6vw;
  }

  .project-link i {
    font-size: 10vw;
  }

  .nav {
    justify-content: center;
  }

  .contact-btn {
    display: none;
  }

  .bx-plus-circle,
  .bx-minus-circle {
    display: block;
  }

  .projects-container,
  .on-projects .content {
    grid-template-columns: repeat(2, 1fr);
  }
  .projects-container .title {
    grid-column: 1/3;
  }
}

@media only screen and (max-width: 798px) {
  .projects-container,
  .on-projects .content {
    display: flex;
    flex-direction: column;
  }

  .project-card h2 {
    font-size: 8vw;
  }

  .project-link i {
    font-size: 12vw;
  }
}

@media only screen and (max-width: 593px) {
  .main-container {
    padding: 20px;
  }
}
