/* Project Page ---------------------------------------------- */

.projects-page {
  margin: 120px 0;
}

.projects-container .card > p {
  text-transform: uppercase;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.projects-container .title {
  grid-column: 1/4;
  font-size: 5vw;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  animation: show-up 1s ease-in-out;
}

/* PROJECT PAGE -------------------------------- */

/* .on-projects {
  padding-bottom: 60px;
} */

.on-projects .title {
  margin: 120px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.on-projects .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  position: relative;
  align-items: center;
  justify-content: center;
}

.on-projects h1 {
  font-size: 7.5vw;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
}

/* Individual Project */

.project-card {
  outline: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-card img {
  border-radius: 40px;
  max-width: 100%;
  height: auto;
  flex: 1;
}

.project-card h2 {
  /* display: none; */
  color: #ffffff;
  position: absolute;
  font-size: 3.5vw;
  text-transform: uppercase;
}

.deactive-display {
  display: none;
}

.active-display {
  display: flex;
}

.project-link {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
}

.project-link i {
  font-size: 9vw;
  padding: 0 20px;
  opacity: 0.6;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  color: #fff;
}

.project-link i:hover {
  opacity: 1;
}

.design-container h2,
.design-container i {
  color: red;
}

/* Responsive ------------------------------------------- */
@media only screen and (max-width: 1178px) {
  #menu-icon {
    display: inline-block;
    transition: all 0.4s ease;
    cursor: pointer;
  }

  #menu-icon.bx-x {
    transform: rotate(-135deg);
  }

  .navlist.open {
    display: flex;
  }

  header {
    display: flex;
    flex-direction: column;
    /* position: relative; */
  }

  header.sticky {
    background: rgba(255, 255, 255, 0);
    box-shadow: 1px 1px 2px 0 rgba(31, 38, 135, 0);
    backdrop-filter: initial;
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0);
  }

  /* .logo {
    display: none;
  } */

  .navlist {
    display: none;
    flex-direction: column;
    gap: 20px;

    padding: 20px 0 40px;
    /* width: 100vw; */

    /* background: rgba(255, 255, 255, 0.15);
    box-shadow: 1px 1px 2px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, 0.18); */
    /* border-radius: 30px; */
  }

  .nav {
    justify-content: center;
  }

  .contact-btn {
    display: none;
  }

  .bx-plus-circle,
  .bx-minus-circle {
    display: block !important;
  }
}

@media only screen and (max-width: 798px) {
  .projects-container,
  .on-projects .content {
    grid-template-columns: repeat(2, 1fr);
  }
  .projects-container .title {
    grid-column: 1/3;
  }
}

@media only screen and (max-width: 593px) {
  .projects-container,
  .on-projects .content {
    grid-template-columns: 1fr;
  }
  .projects-container .title {
    grid-column: 1/2;
  }
}
